@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
body {
  background-color: #f0e9ca;
  font-family: "Josefin Sans", sans-serif;
}

.mainPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;

  margin-top: 1.5em;

  line-height: 2em;
}

.formDiv {
  margin-top: 5em;
  padding: 1em;

  border: 3px solid #000;
  border-radius: 3em;
}

input[type="text"] {
  font-family: "Josefin Sans", sans-serif;
}

.input {
  width: 21em;
  height: 1.5em;

  border-radius: 3em;
}

.btn {
  border-radius: 3em;

  height: 2em;

  font-family: "Josefin Sans", sans-serif;

  background-color: #000;
  color: #f0e9ca;
}

.btn:hover {
  background-color: rgb(38, 45, 85);
}

.btn:active {
  transform: scale(0.98);
}

#doneBox {
  margin-top: 0.2em;
}

#summary {
  margin-top: 3em;
  padding: 1.5em;

  /*border: 2px #000 solid;
  border-radius: 1.5em;*/
}

.sumstyle {
  border: 2px #000 solid;
  border-radius: 1.5em;
}
